.background {
  background-color: var(--background-color);
}

.sidebar {
  background-color: var(--sidebar-color);
  position: fixed;
  height: 100%;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  width: 35%;
}

.sidebar-name {
  padding: 2em 0em 2em;
}

.sidebar-link {
  padding-bottom: 0.5em;
  color: var(--text-color-muted);
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
}

.main {
  float: right;
  padding: 0em 3em;
  margin-left: 35%;
  height: 100vh;
}
