.background {
  background-color: var(--background-color);
}

.main {
  padding: 3em 4em;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

/* Transform layout for mobile or thin screens */
@media screen and (max-width: 900px) {
  .main {
    height: auto;
    padding: 1em 1em;
  }
}